<%= form_for @cliente, :html => { :class => 'form-horizontal' } do |f| %>
	<div class="row-fluid">
		<div class="span6">
			<div class="control-group">
			    <%= f.label :cartao, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :cartao, :class => 'text_field' %>
			      <input type="text" placeholder="Type something…" id="cartaodd">
			    </div>
			  </div>
			
			  <div class="control-group">
			    <%= f.label :nome, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :nome, :class => 'text_field' %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :data_nasc, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :data_nasc, :class => 'text_field' %>
			    </div>
			  </div>
			
			  <div class="control-group">
			    <%= f.label :rua, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :rua, :class => 'text_field' %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :localidade_id, :class => 'control-label input-sm' %>
			    <div class="controls">
			      <%= f.collection_select(:localidade_id, Localidade.all, :id, :codpostal_localidade, :class => 'form-control input-sm') %>
			    </div>
			  </div> 
			  
			  <div class="control-group">
			    <%= f.label :sexo_id, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.collection_select(:sexo_id, Sexo.all, :id, :descricao) %>
			    </div>
			  </div>
			  
			
			  <div class="control-group">
			    <%= f.label :profissao_id, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.collection_select(:profissao_id, Profissao.all, :id, :descricao) %>
			    </div>
			  </div>
			<div class="control-group">
			    <%= f.label :grupocliente_id, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.collection_select(:grupocliente_id, Grupocliente.all, :id, :descricao) %>
			    </div>
			  </div>  
		  <div class="control-group">
			    <%= f.label :obs, :class => 'control-label' %>
			    <div class="controls">
			  
			      <textarea id="obs" rows="3"></textarea>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :activo, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.check_box :activo, :class => 'text_field' %>
			    </div>
			  </div>
			  
		</div>
		<div class="span6">

			
			  <div class="control-group">
			    <%= f.label :loja_id, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.collection_select(:loja_id, Loja.all, :id, :descricao) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :vendedor_id, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.collection_select(:vendedor_id, Vendedor.all, :id, :descricao) %>
			    </div>
			  </div>
			  
			
			<div class="control-group">
			    <%= f.label "CONTACTOS CLIENTE", :class => 'control-label' %>
			    <div class="controls">
					  <%= f.fields_for :contactos do |a| -%> 
				
							<%= a.hidden_field :id %>
							<%= a.hidden_field :cliente_id %>
							<%= a.text_field :tipocontacto_id, :class => 'text_field' %>
					        <%= a.text_field :contacto, :class => 'text_field' %><br />
					                
				      <% end -%>
			    </div>
			  </div>
			<div class="control-group">
			    <%= f.label "PERFIL CLIENTE", :class => 'control-label' %>
			    <div class="controls">
			      <% Perfil.find(:all).each do |c| %>
			        <%= check_box_tag 'cliente[perfil_ids][]', c.id, @cliente.perfils.include?(c) %><%= c.descricao %><br />
			      <% end %>
			    </div>
			  </div>			  
			  
		</div>
	</div>









  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                '/', :class => 'btn' %>
  </div>
<% end %>
