<h1>Lista de clientes</h1>

<table>
  <thead>
    <tr>
      <th>Cartao</th>
      <th>Nome</th>
      <th>Grupocliente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.cartao %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.grupocliente.descricao %></td>
        <td><%= link_to 'Ver', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Tens a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo cliente', new_cliente_path %>
