<%= form_for @localidade, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cod_postal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cod_postal, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :localidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :localidade, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cidade, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pais_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:pais_id, Pai.all, :id, :descricao) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                localidades_path, :class => 'btn' %>
  </div>
<% end %>
