<h1>Listing contactos</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Tipocontacto</th>
      <th>Contacto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contactos.each do |contacto| %>
      <tr>
        <td><%= contacto.cliente %></td>
        <td><%= contacto.tipocontacto %></td>
        <td><%= contacto.contacto %></td>
        <td><%= link_to 'Show', contacto %></td>
        <td><%= link_to 'Edit', edit_contacto_path(contacto) %></td>
        <td><%= link_to 'Destroy', contacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contacto', new_contacto_path %>
