<%- model_class = Grupocliente -%>
<h4><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>

<div class="table-responsive">
	<table id="tabela" class="table table-striped table-condensed" >
	  <thead>
	    <tr>
	      <th>x</th>
	      <th><%= model_class.human_attribute_name(:descricao) %></th>
	      <th><%= model_class.human_attribute_name(:racio) %></th>
	      <th><%=t '.actions', :default => t("helpers.actions") %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @grupoclientes.each do |grupocliente| %>
	      <tr>
	        <td><%= link_to '<i class="icon-file"></i>'.html_safe, grupocliente_path(grupocliente) %></td>	      	
	        <td><%= grupocliente.descricao %></td>
	        <td><%= grupocliente.racio %></td>
	        <td>
	          <%= link_to '<i class="icon-pencil"></i>'.html_safe,
	                      	edit_grupocliente_path(grupocliente), :class => 'btn btn-mini' %>

	          <%= link_to '<i class="icon-remove"></i>'.html_safe,
	                      grupocliente_path(grupocliente),
	                      :method => :delete,
	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                      :class => 'btn btn-mini btn-danger' %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")), new_grupocliente_path, :class => 'btn btn-primary' %>
