<h1>Listing tipocontactos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tipocontactos.each do |tipocontacto| %>
      <tr>
        <td><%= tipocontacto.descricao %></td>
        <td><%= link_to 'Show', tipocontacto %></td>
        <td><%= link_to 'Edit', edit_tipocontacto_path(tipocontacto) %></td>
        <td><%= link_to 'Destroy', tipocontacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipocontacto', new_tipocontacto_path %>
